{% extends 'base.html' %}

{% block title %}
     sistema de gestão de clientes
{% endblock %}

{% block main %}
<div class="row">
    <div class="col">

    </div>
    <div class="col-6">
        <h1>Seja bem vindo</h1>
    </div>
    <div class="col-sm">
        {% if user.is_authenticated %}
        <p>Olá {{ user.username }}</p>
        <a href="{% url 'logout' %}" class="btn btn-info">logout</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-info">login</a>
    {% endif %}
    </div>
</div>
{% endblock %}





