{% extends 'base.html' %}

{% block title %}
    Gerenciamento de clientes
{% endblock %}

{% block main %}
  <ul>
        {% for pessoa in pessoas %}
            <li> <a href="{% url 'atualiza_pessoa' pessoa.id %}">
                Nome:{{ pessoa.primeiro_nome }} {{ pessoa.ultimo_nome }}, idade: {{ pessoa.idade }}</a>
                <a href="{% url 'delete_pessoa' pessoa.id %}" class="btn btn-danger">deletar</a>
                <a href="{% url 'atualiza_pessoa' pessoa.id %}" class="btn btn-primary">atualizar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'cadastra_pessoa' %}" class="btn btn-primary">cadastrar</a>
    <a href="{% url 'logout' %}" class="btn btn-primary">logout</a>
{% endblock %}
{% block footer %}
<footer class="footer">
    <div class="container">
       <span class="text-muted">Desenvolvimento web com django 3.x</span>
    </div>
</footer>
{% endblock %}













